/* Universal Selector */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}


/* Element Selector */

h2 {

    color: darkgreen;
}


/* ID Selector */

#mainHeader {

    background-color: navy;

    color: white;

    text-align: center;

    padding: 20px;
}


/* Class Selector */

.eventCard {

    border: 2px solid gray;

    padding: 15px;

    margin: 20px;

    border-radius: 8px;
}


/* Grouping Selector */

h3,
p {

    font-family: Arial, sans-serif;

    color: #333;
}